@media only screen and (max-width: 600px) {
    #search, #searchAutoComplete {
        width: 90%;
        left: -20px;
        padding-left: 10px;
        padding-right: 50px !important;
        font-size: 90%;
    }
    #loc {
        right: 65px;
        font-size: 170%;
        top: 2px;
    }
    #save {
        right: 95px;
        font-size: 170%;
        top: 2px;
    }
    #menu-button {
        right: 1%;
        width: 34px;
        height: 34px;
    }
    .mapContainer {
        width: 90%;
        margin: 2vh auto;
        min-width: unset;
        height: 40%;
    }
    #content {
        width: 110%;
        margin: 5% auto 0 -5%;
    }
    .Login {
        min-width: 200px !important;
        width: 99% !important;
        max-width: 100% !important;
    }
    #content h1 {
        width: 90%;
    }
    .formControl {
        width: 100%;
        padding: 1%;
    }
    .formGroup, .btn {
        width: 120% !important;
        margin: 0 auto 10px -10%;
    }
    #form {
        width: 100%;
        margin: 0;
    }
}

.formControl {
    width: 100%;
    padding: 1%;
}

.formGroup, .btn {
    width: 120% !important;
    margin: 0 auto 10px -10%;
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
    #form {
        width: 60%;
        margin: 0;
    }
}

@media only screen and (max-width: 1040px) {
    #weatherInfo {
        align-content: space-between;
    }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {}